<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<p>Email: <%= @user.email %></p>
<p>Créé le: <%= @user.created_at %></p>
<p>Mis à jour le: <%= @user.updated_at %></p>

<h3>Mes Réservations</h3>
  <% if @bookings.present? %>
    <% @bookings.each do |booking| %>
      <div class="card-product my-5 mx-1 p-2 border shadow-sm bg-white rounded col-3">
        <% if booking.underwear.photo.attached? %>
          <%= cl_image_tag booking.underwear.photo.key, class: "img-fluid w-100 h-75", crop: :fill, id:"img-product" %>
        <% end %>
        <div class="card-product-infos">
          <h2 class="mt-2"><%= booking.underwear.title %></h2>
          <p class="mt-2"><%= booking.underwear.description %></p>
          <p class="mt-2">Réservé du <%= booking.start_date%> au <%= booking.end_date %></p>
        </div>
          <%= link_to "Supprimer", underwear_booking_path(underwear_id), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"} %>
      </div>
    <% end %>
  <% else %>
    <p>Aucune réservation.</p>
  <% end %>

<h3>Mes slips</h3>
  <% if @underwears.present? %>
    <% @underwears.each do |underwear| %>
      <div class="card-product my-5 mx-1 p-2 border shadow-sm bg-white rounded col-3">
        <% if underwear.photo.attached? %>
          <%= cl_image_tag underwear.photo.key, class: "img-fluid w-100 h-75", crop: :fill, id:"img-product" %>
        <% end %>
        <div class="card-product-infos">
          <h2 class="mt-2"><%= underwear.title %></h2>
          <p class="mt-2"><%= underwear.description %></p>
        </div>
      </div>
        <%= link_to "Supprimer", underwear_path(underwear), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"} %>
    <% end %>
<% else %>
  <p>Aucun slip.</p>
<% end %>
