<div class="container">
  <div class="row">

    <div class="col-12 d-flex flex-column mb-5 mt-3 ">

      <div class="col-12 border bg-light p-3 rounded shadow-sm">
        <h4 class="text-center">Salut <strong><%= @user.first_name %></strong></h4>
        <h4 class="text-center border-bottom pb-2">Voici tes infos personnelles</h4>

        <div class="col-12 d-flex justify-space-around">
          <div class="col-8 pt-3">
              <p><strong>Prénom :</strong> <%= @user.first_name %></p>
              <p><strong>Nom :</strong> <%= @user.last_name %></p>
              <p class="small"><strong style="margin-right: 5px;">Date de création du profil: </strong></p>
                <p class="small"> <%=  @user.created_at %></p>
          </div>

          <div class="col-4 pt-3">
            <p><strong>Mail :</strong> <%= @user.email %></p>
            <p><strong>Adresse:</strong> <%= @user.address %></p>
          </div>

        </div>
        <div class=" p-2">
                <%= link_to "Editer mon profil",edit_user_registration_path, class:"btn btn-primary text-white"   %>
          </div>
      </div>
    </div>


    <div class="col-12 d-flex flex-column mb-5 ">

      <div class="col-12 border bg-light p-3 rounded shadow-sm">
        <h4 class="text-center">Mes réservations en cours</h4>

        <div class="col-12 d-flex justify-space-around">
          <% if @user.bookings.present? %>
            <% @user.bookings.each do |booking| %>
              <div class="card-product my-5 mx-1 p-2 border shadow-sm bg-white rounded col-3">
                <% if booking.underwear.photo.attached? %>
                  <%= cl_image_tag booking.underwear.photo.key, class: "img-fluid w-100 h-75", crop: :fill, id:"img-product" %>
                <% end %>
                <div class="card-product-infos">
                  <h2 class="mt-2"><%= booking.underwear.title %></h2>
                  <p class="mt-2"><%= booking.underwear.description %></p>
                </div>
                <%= link_to "Annuler ma réservation", booking_path(booking), class: "btn btn-primary text-white", data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"} %>
              </div>
            <% end %>
          <% else %>
            <p class="text-center">Aucune réservation en cours.</p>
          <% end %>
        </div>
      </div>
    </div>


    <div class="col-12 d-flex flex-column">

      <div class="col-12 border bg-light p-3 rounded shadow-sm">
        <h4 class="text-center">Mes slips en location</h4>

        <div class="d-flex">
          <% if @underwears.present? %>
            <% @underwears.each do |underwear| %>
              <div class="card-product my-5 mx-1 p-2 border shadow-sm bg-white rounded col-3">
                <% if underwear.photo.attached? %>
                  <%= cl_image_tag underwear.photo.key, class: "img-fluid w-100 h-75", crop: :fill, id:"img-product" %>
                <% end %>
                <div class="card-product-infos">
                  <h2 class="mt-2"><%= underwear.title %></h2>
                  <p class="mt-2"><%= underwear.description %></p>
                </div>
                <%= link_to "Supprimer mon annonce", underwear_path(underwear), class: "btn btn-primary text-white", data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"} %>
              </div>
            <% end %>
          <% else %>
            <p class="text-center">Aucun slip.</p>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
