
<%# ----------- BANNER HERO ---------- %>
<div class="banner py-5 hero-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.ctfassets.net/gscn32h7ckds/4LhtA3RN4lmeKs2fEuLaIg/ed06210e1db05ce71d419788a1a5977b/underwear_outlet_banner_CM.jpg);">
  <div class="container hero-details ms-5">
    <h1 class="display-3 text-white hero-title" >YOUR SLIP</h1>
    <h1 class="display-5 text-white mb-4 hero-title">EVERYWHERE</h1>
    <%= link_to "Voir les offres", "#ancre-index", class: "btn btn-primary text-white rounded shadow-sm" %>
  </div>
</div>


<%# ---------  GENERATION DES CARDS ----------  %>

<%# INTRO %>
<h1 class="text-center mt-5 display-4 index-subtitle" id="ancre-index">It is always time to slip...</h1>

<%# CARD %>
<div class="container">
<div class="row">

  <div class="col-12 d-flex flex-row justify-content-center">

    <% @underwears.each do |underwear| %>
      <div class="card-product my-5 mx-1 p-2 border shadow-sm bg-white rounded col-3">
      <%# CI DESSOUS / METTRE EN PLACE CLOUDINARY POUR UPLOAD IMAGE %>
        <%# <%= image_tag underwear.url_photo, class: "img-fluid w-100 h-100" %>
        <% if underwear.photo.attached? %>
          <%= cl_image_tag underwear.photo.key, class: "img-fluid w-100 h-75", crop: :fill, id:"img-product" %>
        <% end %>
        <div class="card-product-infos">
          <h2 class="mt-2"><%= underwear.title %></h2>
          <p class="mt-2"><%= underwear.description %></p>
          <%= link_to "En savoir plus", underwear_path(underwear),class: "btn btn-primary text-white rounded shadow-sm" %>

        </div>
      </div>
    <% end %>
  </div>
  </div>

<div class="row">
  <div data-controller="forms" class="col-12 d-flex justify-content-center ">
    <div data-action="click->forms#fire" class="col-4 d-flex justify-content-center ">
      <button class="btn btn-info"><%= link_to "Add a slip!", class:"text-white"%></button>
    </div>
    <div data-forms-target="togglableElement" class="d-none">
      <%= render "underwears/form", underwear: Underwear.new %>
    </div>
  </div>
</div>


</div>
</div>



<%# --------- CAROUSSEL BANNER ------------- %>

<div id="carouselSlidesOnly" class="carousel slide my-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("index-carrousel/banner_1.png", alt: "Logo UnderWhere",class: "d-block w-100", id: "logo-underwear") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("index-carrousel/banner_2.png", alt: "Logo UnderWhere",class: "d-block w-100", id: "logo-underwear") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("index-carrousel/banner_3.png", alt: "Logo UnderWhere",class: "d-block w-100", id: "logo-underwear") %>
    </div>
  </div>
</div>
