

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1640765937555-6f413ed1d936?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
  <div class="text-center py-5">
    <h1>Ajouter un nouveau slip à la location !</h1>
  </div>
</div>


<%= simple_form_for(@underwear) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%# <%= f.input :url_photo, placeholder: 'https://garcon-francais.fr/old_build/img/mif/calecon-banner.jpg' %> 
  <%= f.input :photo, as: :file %>

  <%= f.submit %>
<% end %>


  <%= link_to "Back", underwears_path, class: "btn btn-primary"  %>
</div>
